---
import MainLayout from "/src/layouts/MainLayout.astro";
---

<MainLayout title="EOTCA Table of Contents">
	<h1>End of the Celestial Afternoon</h1>
	<h2>Written by Daniel Ben. Frank</h2>
	<h3>Table of Contents</h3>

	<ul>
 	 <li><a href="/books/EOTCA/ch1">Chapter I</a></li>
	  <li><a href="/books/EOTCA/ch2">Chapter II</a></li>
	  <li><a href="/books/EOTCA/ch3">Chapter III</a></li>
	  <li><a href="/books/EOTCA/ch4">Chapter IV</a></li>
	  <li><a href="/books/EOTCA/ch5">Chapter V</a></li>
	  <li><a href="/books/EOTCA/ch6">Chapter VI</a></li>
	  <li><a href="/books/EOTCA/ch7">Chapter VII</a></li>
	  <li><a href="/books/EOTCA/ch8">Chapter VIII</a></li>
	  <li><a href="/books/EOTCA/ch9">Chapter IX</a></li>
	  <li><a href="/books/EOTCA/ch10">Chapter X</a></li>
	  <li><a href="/books/EOTCA/ch11">Chapter XI</a></li>
	  <li><a href="/books/EOTCA/ch12">Chapter XII</a></li>
	  <li><a href="/books/EOTCA/ch13">Chapter XIII</a></li>
	  <li><a href="/books/EOTCA/ch14">Chapter XIV</a></li>
	</ul>
</MainLayout>
