---
import MainLayout from "/src/layouts/MainLayout.astro";
---

	<MainLayout title="Home">
		<h1>Den of the Majilern</h1>
			<p>Books, and essays.</p>
			<p><a href="/books">Books</a></p>
			<p><a href="/essays">Essays</a></p>
	</MainLayout>
