---
import AuthLayout from "/src/layouts/AuthLayout.astro";
---

<AuthLayout title="Log Out">

<script type="module">
	import { supabase } from '../lib/supabase/client'

	await supabase.auth.signOut()

	const { error } = await supabase.auth.signOut();

	if (!error) {
		window.location.href = '/'
	}
</script>

<p>Logging out...</p>

</AuthLayout>
