---
import MainLayout from "/src/layouts/MainLayout.astro";
---

<MainLayout title="Awaiting Approval">
	<h1>Awaiting Approval</h1>

	<p>Your email has been verified successfully.</p>

	<p>Your account is now awaiting manual approval by the Majilern.</p>

	<p>Once your account has been approved, you'll be able to access this protected content.</p>

</MainLayout>
