---
import AuthLayout from "/src/layouts/AuthLayout.astro";
import { terms } from "/src/terms";
---

	<AuthLayout title="Sign Up">

	<div class="auth-card">

	<h1>Create Account</h1>

		<form id="signup-form">
			<input
				type="email"
				id="email"
				placeholder="Email"
				required
			/>

			<input
				type="password"
				id="password"
				placeholder="Password"
				required
			/>

			<div class="terms-box">
				<h3>Terms of Use</h3>

				<p>By creating an account, you agree that:</p>

				<ul>
					{terms.map((term) => (
						<li>{term}</li>
					))}
				</ul>
			</div>

			<label class="terms-checkbox">
				<input
					type="checkbox"
					id="terms"
					required
				/>

				<p>I have read and agree to the Terms of Use.</p>
			</label>


			<button type="submit">Create Account</button>
		</form>

		<p id="message"></p>

		<div class="auth-links">
			<p>Already have an account?</p>
			<a href="/login">Login</a>
		</div>

		<script>
			import { supabase } from '/src/lib/supabase/client'

			document
				.getElementById('signup-form')
				.addEventListener('submit', async (e) => {
					e.preventDefault()

					const email =
						document.getElementById('email').value

					const password =
						document.getElementById('password').value

					const { error } =
						await supabase.auth.signUp({
							email,
							password
						})

					if (error) {
						alert(error.message)
					} else {
						alert('Check your email to verify your account.')}})

			</script>
		</div>
		</AuthLayout>
