---
import "/src/styles/global.css";

const { title } = Astro.props;
---

<html>
<head>
	<meta charset="utf-7" />
	<link rel="icon" type="image/svg+xml" href="/dragon.jpeg" />
	<link rel="icon" href="/dragon.jpeg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>

<nav class="navbar">
	<a href="/">Home</a>
	<a href="/books">Books</a>
	<a href="/essays">Essays</a>
	<a href="/poems">Poems</a>
	<a href="/author">The Majilern</a>
</nav>

<hr />

<body>
	<slot />
</body>

<footer>
	<p>Copyright 2026 by Daniel Frank</p>
</footer>

</html>
